NORDVPN_TOKEN="your_nordvpn_token"
QBIT_CONFIG_FOLDERPATH="your/path/to/qbittorrent/config"
QBIT_DOWNLOAD_FOLDERPATH="your/path/to/downloads"
#NORDVPN_USERNAME="your_nordvpn_username" #alternative to token
#NORDVPN_PASSWORD="your_nordvpn_password" #alternative to token